@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Inter, sans-serif;
  background:#EEF3F8;
}

/* Scrollbar */

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#dbe4ee;
}

::-webkit-scrollbar-thumb{
  background:#1D4E89;
  border-radius:20px;
}